{
  "presets": [
    ["env", {
      "targets": {
        "node": "10.3.0"
      }
    }],
    "flow"
  ],
  "plugins": ["transform-decorators-legacy", "transform-class-properties", "transform-object-rest-spread"]
}
